@use 'variables' as *;

.f-tag-input {
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: $f-tag-input-width;
    padding: $f-tag-input-padding;
    transform: translate(-50%, -50%);
    background-color: $f-tag-input-bg;
    border: $f-tag-input-border;
    border-radius: $f-tag-input-border-radius;
    max-height: calc(100dvh - $f-tag-input-padding * 4);
    overflow: auto;


    @media (max-width: $f-tag-input-width) {
        width: calc(100% - $f-tag-input-padding * 4);
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: $f-tag-input-gap;
        margin-bottom: $f-tag-input-gap;
    }

    &__tag {
        --f-tag-input-tag-bg: #{$f-tag-input-tag-bg};
        --f-tag-input-tag-text-color: #{$f-tag-input-tag-text-color};
        display: flex;
        align-items: center;
        background-color: var(--f-tag-input-tag-bg);
        color: var(--f-tag-input-tag-text-color);
        padding: $f-tag-input-padding;
        border: $f-tag-input-border;
        border-radius: $f-tag-input-border-radius;
        font-size: $f-tag-input-font-size;
        cursor: pointer;

        .f-tag-input__remove {
            --f-tag-input-remove-icon-color: #{$f-tag-input-tag-remove-icon-color};
            margin-left: 8px;
            cursor: pointer;
            font-size: $f-tag-input-font-size;
            color: var(--f-tag-input-remove-icon-color);
        }

        &--active {
            --f-tag-input-tag-bg: #{$f-tag-input-tag-active-bg};
            --f-tag-input-tag-text-color: #{$f-tag-input-tag-text-color-active};

            .f-tag-input__remove {
                --f-tag-input-remove-icon-color: #{$f-tag-input-tag-text-color-active};
            }
        }

    }

    &__input {
        outline: none;
        flex: 1;
        font-size: $f-tag-input-font-size;
        height: 48px;
        padding: $f-tag-input-padding;
        background: $f-tag-input-bg;
        border: $f-tag-input-border;
        border-radius: $f-tag-input-border-radius;
    }
}