$f-body-bg: #92D0FD !default; // Light-blue backdrop

$f-tag-input-bg: #fff !default; // Light-blue backdrop
$f-tag-input-border: rgba(0,0,0,0.2) solid 1px !default;
$f-tag-input-gap: 16px !default;
$f-tag-input-width: 800px !default;
$f-tag-input-padding: 16px !default;
$f-tag-input-font-size: 18px !default;
$f-tag-input-border-radius: 8px !default;
$f-tag-input-tag-bg: #ffffff !default;
$f-tag-input-tag-color: #ffffff !default;
$f-tag-input-tag-text-color: #000 !default;
$f-tag-input-tag-text-color-active: #ffffff !default;
$f-tag-input-tag-active-bg: #92D0FD !default;